html {
    font-family: "Open Sans", sans-serif;
    /* overflow-y: hidden !important; */
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #111318;
}
::-webkit-scrollbar-thumb {
    background-color: #343b4b;
}